/* Top Line CSS Start */ 

.topLine{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    min-height: 35px;
    max-height: auto;
    background-color: #001064;
}

.whatsappOrder {
    color: white;
    font-family: sans-serif;
    font-size: 75%;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 9px;
    height: 25px;
}

#empty{
    width: 300px;
}

@media only screen and (max-width: 800px) {
    #empty{
        display: none;
    }

    .signinButton, .cartIcon{
        display: none;
    }
}

.socialIcon{
    margin: 5px;
    height: 25px;
}

.socialIcon > a{
    padding: 2px;
}

.fa-facebook, .fa-instagram, .fa-twitter, .fa-envelope, .fa-youtube-play, .fa-user-circle {
    color: white;
    width: 15px;
}

.pagesButton {
    display: flex;
    margin: 5px;
    height: 25px;
}

.homeBtn{
    border-left: 1px solid rgb(243, 200, 200) !important;
    border-color: rgb(243, 200, 200) !important;
}

.pagesButton > a > button{
    color: white;
    border: none;
    background-color: #001064;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 75%;
    border-right: 1px solid rgb(243, 200, 200);
}

#signUp{
    height: 25px;
    margin-left: 20px;
}

#signUp > a > button{
    color: white;
    border: none;
    background-color: #001064;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 75%;
}

/* Top Line CSS End */



.btn-outline-success{
    color: #001064;
    border-color: #001064;
}

.navbar{
    background-color: #5f5fc4 !important;
}

.nav-link{
    color: white !important;
}

.signinButton {
    margin: 10px 50px 10px 20px;
}

.signinButton > a > button{
    color: white;
    border: none;
    background-color: #5f5fc4;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 95%;
}

.fa-shopping-cart{
    margin: 10px;
    width: 100px;
}

.fa-shopping-cart, .fa-user-o {
    color: white;
}

.productHeading > h1 {
    margin: 20px auto;
    text-align: center;
    text-transform: uppercase;
}

.card {
    width: 250px;
    height: auto;
    margin: 5px auto;
}
  
.btn-primary{
    width: 100%;
    background-color: #5f5fc4;
}

.btn-primary:hover{
    background-color: #001064;
}

.footer1{
    background-color: #25272E;
    color: #BBBBBB;
    margin: 0;
    width: 100%;
    height: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer1 h3{
    color: white;
}

.aboutUs, .quickLinks {
    width: 600px;
    margin: 30px 5px;
}

.footer2{
    background-color: #001064;
    color: white;
    width: 100%;
    padding: 10px 0px 2px 40px;
}

.nav-link:hover {
    background-color: #001064;
    border-radius: 10px;
}

.footerLinks{
    list-style: none;
}

.footerLinks li{
    padding: 3px;
}

.view-more-btn{
    margin: 10px auto;
    text-align: center;
}

.view-more-btn i{
    margin-left: 5px;
}

.view-more{
    width: 160px;
    background-color: #001064;
    color: white;
    align-items: center;
    margin: 10px auto;
    border-radius: 6px;
    padding: 15px;
    font-size: 120%;
}

.view-more:hover{
    color: white;
}

.btn-outline-success:hover{
    background-color: #001064;
    border-color: #001064;
}

/* About Us Page CSS Start */

.aboutUs-page h1{
    font-size: 70px;
    text-align: center;
    background-color: #f7f8fa;
    padding: 10px;
    color: #001064;
}

.aboutUs-page {
    width: 100%;
}

.aboutUs-page p{
    font-size: 130%;
    line-height: 1.8em;
    text-align: center;
    color: #808080;
}

.aboutUs-para{
    margin-top: 30px;
    margin-bottom: 50px;
}

/* About Us Page CSS End */

/* Contact Us Page CSS Start */

.contact-page h1{
    font-size: 70px;
    text-align: center;
    background-color: #f7f8fa;
    padding: 10px;
    color: #001064;
}

.contact-page p{
    font-size: 130%;
    line-height: 1.8em;
    text-align: center;
    color: #808080;
}

.contact-form h3{
    text-transform: uppercase;
}

.contact-form{
    margin: 30px auto;
}

.contact-form p{
    text-align: left !important;
    margin-top: 10px;
}

.contact-form input{
    height: 40px;
}

.contact-form input.submit{
    background-color: #5f5fc4;
    color: white;
    padding: 10px;
    width: 120px;
    height: 50px !important;
    border: none;
    text-transform: uppercase;
    font-size: 110%;
    margin-top: 10px;
}

.contact-form input.submit:hover{
    background-color: #001064;
}

/* Contact Us Page CSS End */

/* Sign In Page CSS Start */

.signin-page h1{
    font-size: 70px;
    text-align: center;
    background-color: #f7f8fa;
    padding: 20px;
    color: #001064;
    text-transform: capitalize;
}

.signin-page p{
    font-size: 130%;
    line-height: 1.8em;
    text-align: center;
    color: #808080;
}

.signin-form h3{
    text-transform: uppercase;
}

.signin-form{
    display: flex;
    justify-content: center;
    margin: 30px auto;
    text-align: center;  
    border-right: 1px solid #808080;
}

@media only screen and (max-width: 576px){
    .signin-form{
        border-right: none;
    }
}

.sub-signin-form{
    width: 430px;
    text-align: left;
}

.signin-form input{
    height: 40px;
}

.signin-form input.submit{
    background-color: #5f5fc4;
    color: white;
    padding: 10px;
    width: 110px;
    height: 43px !important;
    border: none;
    text-transform: uppercase;
    font-size: 100%;
    margin-top: 10px;
}

.signin-form input.submit:hover{
    background-color: #001064;
}

.forgot-password{
    margin-left: 20px;
    color: #5f5fc4;
}

.create-account{
    margin: 30px auto;
    text-align: center;
    padding-top: 35px;
}

.create-account button{
    background-color: #5f5fc4;
    color: white;
    padding: 10px;
    width: 400px;
    height: 70px !important;
    border: none;
    text-transform: uppercase;
    font-size: 140%;
    margin-top: 10px;
}

.create-account button:hover{
    background-color: #001064;
}

.create-account h4{
    text-transform: capitalize;
    font-size: 180%;
}

@media only screen and (max-width: 576px) {
    .create-account, .signin-form{
        margin-right: 20px;
        margin-left: 20px;
    }
}

/* Sign In Page CSS End */

/* Sign Up Page CSS Start */

.signup-page h1{
    font-size: 70px;
    text-align: center;
    background-color: #f7f8fa;
    padding: 20px;
    color: #001064;
    text-transform: capitalize;
}

.signup-page p{
    font-size: 130%;
    line-height: 1.8em;
    text-align: center;
    color: #808080;
}

.signup-form h3{
    text-transform: uppercase;
}

.signup-form{
    margin: 30px auto;
}

.signup-form p{
    text-align: left !important;
    font-size: 110%;
}

.signin-form label{
    margin-top: 10px;
}

.signup-form input{
    height: 40px;
    margin-bottom: 10px;
}

.signup-form input.submit{
    background-color: #5f5fc4;
    color: white;
    padding: 10px;
    width: 200px;
    height: 50px !important;
    border: none;
    text-transform: uppercase;
    font-size: 110%;
    margin-top: 10px;
}

.signup-form input.submit:hover{
    background-color: #001064;
}

/* Sign Up Page CSS End */

/* Product Page Page CSS Start */

#productImage{
    width: 400px;
    margin: 10px;
}

#priceCut{
    text-decoration: line-through;
    margin-right: 3px;
    color: #808080;
}

.productDetails{
    margin-top: 30px;
}

.productDetails h4{
    margin-bottom: 10px;
}

#red{
    color: red;
}

.productDetails ul li{
    margin: 8px 0px;
    color: #808080;
}

.productDetails button{
    background-color: #5f5fc4;
    color: white;
    padding: 10px;
    width: 180px;
    height: 50px !important;
    border: none;
    text-transform: uppercase;
    font-size: 110%;
    margin-top: 10px;
}

.productDetails button:hover{
    background-color: #001064;
}

.styleBoxe{
    width: auto;
    min-height: 100px;
    background-color: #d9dcdf;
    padding: 15px;
    margin: 20px 10px;
    
}

@media only screen and (max-width: 576px) {
    .styleBoxe{
        width: 100% !important;
    }
}

.fa-exchange, .fa-truck, .fa-gift{
    margin-right: 10px;
}

.description{
    margin: 20px auto;
}

.description h3{
    text-transform: uppercase;
}

.description p{
    font-size: 110%;
    line-height: 1.5em;
}

.description ul li{
    font-size: 110%;
    line-height: 1.8em;
}

.relatedProducts{
    margin: 30px auto;
}

.relatedProducts h3{
    text-transform: uppercase;
}

/* Product Page Page CSS End */